@page "/masters"

<h1>Наши Мастера</h1>

<div class="masters-list">
    <div class="master">
        <h3>Анна Иванова</h3>
        <img src="path/to/master1.jpg" alt="Анна Иванова" />
        <p>Специалист по вязанию, с более чем 10-летним опытом.</p>
    </div>
    <div class="master">
        <h3>Сергей Петров</h3>
        <img src="path/to/master2.jpg" alt="Сергей Петров" />
        <p>Эксперт по вышивке, создает уникальные дизайны.</p>
    </div>
    <div class="master">
        <h3>Мария Смирнова</h3>
        <img src="path/to/master3.jpg" alt="Мария Смирнова" />
        <p>Керамист, создает изысканные керамические изделия.</p>
    </div>
</div>